## Install Node LTS 20.10.0 https://nodejs.org/en
## Install Hardhat: npm install --save-dev hardhat
##          I used the Hardhat extention for VSCode

## Metamask test password112


##Sepolia testnet use faucet

##adjust config file
#npx hardhat --network sepolia PATH


##contract address 	0x72e706f47e8bafb76f085faf41f44b82361e82d5
##npm install web3
##npm install bootstrap
